<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/login.js"></script>
    <link rel="stylesheet" href="interface.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
    <h2>Login</h2>
    <form action="/login" method="POST" id="login-form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"> <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"> <br>
        <button type="button" id="login-button">Login</button>
    </form>
    <a href="/register">Register</a>
    <div id="status"></div>
    </div>
</body>
</html>