<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
    <form id="register-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required> <br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required> <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>
        <button type="button" id="register-button">Register</button>
    </form>
    <a href="/login">Login</a>
    <div id="status"></div>
</body>
<script src="register.js"></script>
</html>